# Examples of Dictionary and DataFrame

In [6]:
import numpy as np
import pandas as pd

In [8]:
# Create a DICT
dict={'A':[1,2,3,4,5],'B':[6,7,8,9,10],'C':[11,12,13,14,15]}

In [36]:
# Print dict
dict

{'A': [1, 2, 3, 4, 5], 'B': [6, 7, 8, 9, 10], 'C': [11, 12, 13, 14, 15]}

In [14]:
# Convert DICT to DataFrame
df = pd.DataFrame(dict)

In [15]:
# Check the type of df
type(df)

pandas.core.frame.DataFrame

In [28]:
# Check the specified column 
df['A']

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

In [29]:
# Sum of the numbers in the column 
df['A'].sum()

15

In [30]:
# Mean of the numbers in the column
df['A'].mean()

3.0

In [35]:
# Mean of the numbers in the columns
df[['A','B']].mean()

A    3.0
B    8.0
dtype: float64

In [37]:
#View the name of column by for loop: 
for i in df:
    print(i)

A
B
C

In [38]:
# Sum the numbers in the same columns
for i in df:
    print(df[i].sum())

15
40
65

In [43]:
# Set diffence calculations from difference columns
for i in df:
    if i in "A":
        print(df[i].sum())
    elif i in "B":
        print(df[i].mean())        
    elif i in "C":
        print(df[i].max()-df[i].min())

15
8.0
4