In [92]:
import numpy as np
import pandas as pd
import time
import datetime as datetime

In [96]:
# Create a function to convert time to second
def t2s(t):
    h,m,s = t.strip().split(":")
    return int(h) * 3600 + int(m) * 60 + int(s)

In [133]:
# Example1: time is '00:00:22' which is a string
time1 = '   00:00:22'
time1

'   00:00:22'

In [134]:
# delete the space
time1 = time1.replace(' ','')
time1

'00:00:22'

In [135]:
# Convert time1 into second by function t2s
t2s(time1)

22

In [138]:
time2 = pd.Series([' 00:00:22',' 00:15:22',' 06:01:22',' 08:46:45',' 09:01:45',' 09:06:45'], name ='Time')
time2

0     00:00:22
1     00:15:22
2     06:01:22
3     08:46:45
4     09:01:45
5     09:06:45
Name: Time, dtype: object

In [141]:
time2.replace('  ', '')

0     00:00:22
1     00:15:22
2     06:01:22
3     08:46:45
4     09:01:45
5     09:06:45
Name: Time, dtype: object

In [143]:
time2[2]

' 06:01:22'

In [146]:
t2s(time2[2])

21682

In [110]:
t2s(y)

22

In [ ]:
# 00:00 - 05:59 -> 0- 21600
# 06:00 - 11:59 -> 21600 - 43200
# 12:00 - 17:59 -> 43200 - 64800 
# 18:00 - 23:59 -> 43200 - 86400